In [5]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px

employee = pd.read_csv('employee.csv')
employee

,Unnamed: 0,EmployeeID,Name,Age,Gender,Department,ExperienceYears,Salary,WorkHoursPerWeek,PerformanceScore,JoinDate,Tshirt_size,ProjectCount,TrainingHours,DepartmentRating
0,0,101,Employee_1,50,Male,IT,17,86175.0,44,71,2010-01-10,L,2,4,1
1,1,102,Employee_2,36,Male,Finance,1,47805.0,44,68,2017-11-11,S,4,18,4
2,2,103,Employee_3,29,Male,Marketing,16,45237.0,44,69,2012-03-08,S,6,13,3
3,3,104,Employee_4,42,Male,Marketing,12,60056.0,48,76,2012-10-12,M,2,25,4
4,4,105,Employee_5,40,Female,Finance,19,85543.0,36,97,2014-12-30,XL,8,3,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,95,196,Employee_96,58,Female,Marketing,9,67350.0,47,65,2021-06-20,S,9,25,2
96,96,197,Employee_97,56,Male,IT,12,133008.0,45,77,2011-11-03,XL,5,12,2
97,97,198,Employee_98,43,Female,Management,1,134297.0,45,64,2015-05-24,M,3,39,3
98,98,199,Employee_99,48,Male,Marketing,1,65351.0,36,84,2021-05-19,L,5,17,2
99,99,200,Employee_100,56,Female,HR,15,128668.0,49,61,2018-07-20,S,5,24,4

## Question : 1

In [9]:
TrainingHours = np.array(employee['TrainingHours'])
TrainingHours.astype(np.float32)
mean_val = np.mean(TrainingHours)
std_val = np.std(TrainingHours)
print(mean_val)
print(std_val)

24.19
13.842467265628624

## Question : 2

In [10]:

employee['ExperienceYears'].fillna(employee['ExperienceYears'].mean(), inplace=True)

experience_employees = employee[(employee['ExperienceYears'] > 12) & (employee['ProjectCount'] > 5)]
total_salary = experience_employees['Salary'].sum()

print(total_salary)

1789512.0

/tmp/ipython-input-118873289.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  employee['ExperienceYears'].fillna(employee['ExperienceYears'].mean(), inplace=True)

## Question : 3

In [13]:
filtered_emp = employee[((employee['Department'] == "IT") | (employee['Department'] == "Finance")) & ((employee['Age'] <= 45) | (employee['Age'] >= 30)) & (employee['PerformanceScore'] >= 80)]
sorted_emp = filtered_emp.sort_values(by=['Salary'], ascending=False)
final_col = sorted_emp[['Name', 'Department','Salary','PerformanceScore']]
final_col

           Name Department    Salary  PerformanceScore
79  Employee_80         IT  143691.0                85
94  Employee_95         IT  140386.0                94
92  Employee_93         IT  137532.0                88
65  Employee_66         IT  131007.0                82
85  Employee_86         IT  129643.0                86
88  Employee_89    Finance  126027.0                92
13  Employee_14    Finance  113666.0                96
83  Employee_84         IT  109449.0                96
53  Employee_54         IT  100160.0                96
12  Employee_13    Finance   99638.0                88
4    Employee_5    Finance   85543.0                97
32  Employee_33         IT   83919.0                98
54  Employee_55         IT   81975.0                95
48  Employee_49         IT   80158.0                91
55  Employee_56    Finance   49540.0                94
9   Employee_10         IT       NaN                86
49  Employee_50    Finance       NaN                80

## Question : 4