**Email Address : shoyebreza@gmail.com**

In [ ]:
import numpy as np
import pandas as pd

np.random.seed(42)

ids = np.arange(1, 11)
ages = np.random.randint(18, 60, 10)
salaries = np.random.randint(30000, 90000, 10)
departments = np.array(["HR", "IT", "Finance", "IT", "HR", "Sales", "Finance", "IT", "Sales", "HR"])

DF = pd.DataFrame({
"id": ids,
"age": ages,
"salary": salaries,
"dept": departments
})

DF.to_csv("employees.csv", index=False)
print("Sample Data Created and Saved as employees.csv")

Sample Data Created and Saved as employees.csv

## Q1. answer

In [ ]:
ages = np.array([56, 46, 32, 25, 38, 56, 36, 40, 28, 28])
salaries = np.array([77191, 74131, 46023, 71090, 31685, 30769, 89735, 86101, 32433, 35311])

print(ages)
print(salaries)

print(ages.dtype)
print(salaries.dtype)

print(ages.ndim)
print(salaries.ndim)

print(ages.shape)
print(salaries.shape)

print(ages.size)
print(salaries.size)

[56 46 32 25 38 56 36 40 28 28]
[77191 74131 46023 71090 31685 30769 89735 86101 32433 35311]
int64
int64
1
1
(10,)
(10,)
10
10

## Q2. answer

In [ ]:
highest = np.max(salaries)
lowest = np.min(salaries)
average = np.mean(salaries)
average_age = np.mean(ages)
print("highest salaries:",highest)
print("lowest salaries:",lowest)
print("average salaries:",average)

print("Average Age:", average_age)

highest salaries: 89735
lowest salaries: 30769
average salaries: 57446.9
Average Age: 38.5

## Q3. answer

In [ ]:
import numpy as np

emp_ages = np.array([56, 46, 32, 25, 38, 56, 36, 40, 28, 28])
age_greater_30 = emp_ages[emp_ages > 30]
print("Ages greater than 30:", age_greater_30)

Ages greater than 30: [56 46 32 38 56 36 40]

In [ ]:
total_greater_30 = np.count_nonzero(age_greater_30)
print("Total of ages greater than 30:", total_greater_30)

Total of ages greater than 30: 7

## Q4. answer

In [ ]:
import numpy as np

ages = np.array([56, 46, 32, 25, 38, 56, 36, 40, 28, 28])
new_ages = ages + 5
print("New Ages:", new_ages)

New Ages: [61 51 37 30 43 61 41 45 33 33]

## Q5. answer

In [ ]:
import numpy as np

salaries = np.array([77191, 74131, 46023, 71090, 31685, 30769, 89735, 86101, 32433, 35311])
total_salary_expense = np.sum(salaries)
print("Total Salary Expense:", total_salary_expense)

min_salary = np.min(salaries)
max_salary = np.max(salaries)

differences = max_salary - min_salary
print("Difference between the highest and lowest salaries:", differences)

Total Salary Expense: 574469
Difference between the highest and lowest salaries: 58966

## Q6. answer

In [ ]:
import pandas as pd

data = pd.read_csv('employees.csv')

df = pd.DataFrame(data)

print(df.head(5))

print(df.info())

print(df.describe())

   id  age  salary     dept
0   1   56   77191       HR
1   2   46   74131       IT
2   3   32   46023  Finance
3   4   25   71090       IT
4   5   38   31685       HR
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      10 non-null     int64
 1   age     10 non-null     int64
 2   salary  10 non-null     int64
 3   dept    10 non-null     object
dtypes: int64(3), object(1)
memory usage: 452.0+ bytes
None
             id       age        salary
count  10.00000  10.00000     10.000000
mean    5.50000  38.50000  57446.900000
std     3.02765  11.16791  24357.262884
min     1.00000  25.00000  30769.000000
25%     3.25000  29.00000  33152.500000
50%     5.50000  37.00000  58556.500000
75%     7.75000  44.50000  76426.000000
max    10.00000  56.00000  89735.000000

## Q7. answer

In [ ]:
colmns = df.loc[:,['id','age','salary']]
print(colmns)
colmns.tail(3)

   id  age  salary
0   1   56   77191
1   2   46   74131
2   3   32   46023
3   4   25   71090
4   5   38   31685
5   6   56   30769
6   7   36   89735
7   8   40   86101
8   9   28   32433
9  10   28   35311

   id  age  salary
7   8   40   86101
8   9   28   32433
9  10   28   35311

## Q8. answer

In [ ]:
it_emp = df.loc[df['dept'] == 'IT']
print(it_emp)
print("Total number of IT employees:", len(it_emp))

   id  age  salary dept
1   2   46   74131   IT
3   4   25   71090   IT
7   8   40   86101   IT
Total number of IT employees: 3

## Q9. answer

In [ ]:
sort_data = df.sort_values(by='salary', ascending=False)
print(sort_data)

top_3 = sort_data.head(3)

print(top_3)

   id  age  salary     dept
6   7   36   89735  Finance
7   8   40   86101       IT
0   1   56   77191       HR
1   2   46   74131       IT
3   4   25   71090       IT
2   3   32   46023  Finance
9  10   28   35311       HR
8   9   28   32433    Sales
4   5   38   31685       HR
5   6   56   30769    Sales
   id  age  salary     dept
6   7   36   89735  Finance
7   8   40   86101       IT
0   1   56   77191       HR

## Q10. answer

In [ ]:
import pandas as pd

data = pd.read_csv('employees.csv')

df = pd.DataFrame(data)
df.loc[df["salary"] > 80000, "salary"] = 80000
print(df["salary"])
new_avg_salary = df["salary"].mean()
print("average salary: ",new_avg_salary)

0    77191
1    74131
2    46023
3    71090
4    31685
5    30769
6    80000
7    80000
8    32433
9    35311
Name: salary, dtype: int64
average salary:  55863.3