In [1]:
import numpy as np
import pandas as pd

marks = [50, 60, 65, 70, 75, 80, 85, 90]
df = pd.DataFrame({'marks':marks})
df

   marks
0     50
1     60
2     65
3     70
4     75
5     80
6     85
7     90

In [2]:
mean_value = df['marks'].mean()


median_value = df['marks'].median()


mode_value = df['marks'].mode()

print("Mean:", mean_value)
print("median:", median_value)
print("mode:", mode_value)

Mean: 71.875
median: 72.5
mode: 0    50
1    60
2    65
3    70
4    75
5    80
6    85
7    90
Name: marks, dtype: int64

In [3]:
Temperatures = [29, 31, 33, 33, 32, 31, 30]
temp = pd.DataFrame({"temp": Temperatures})
temp

   temp
0    29
1    31
2    33
3    33
4    32
5    31
6    30

variance = np.var(temp)
std_deviation = np.std(temp)

print("variance:", variance)
print("standard deviation:", std_deviation)

## Part B â€“ Percentiles, IQR and Z-Score

In [4]:
cat_weights = [2.5, 3.0, 3.2, 3.3, 3.4, 3.5, 3.6, 3.9, 4.0, 4.5]

cw = pd.DataFrame({'cat_weights': cat_weights})
cw

   cat_weights
0          2.5
1          3.0
2          3.2
3          3.3
4          3.4
5          3.5
6          3.6
7          3.9
8          4.0
9          4.5

In [5]:
print("25th percentile:", np.percentile(cw, 25))
print("50th percentile:", np.percentile(cw, 50))
print("75th percentile:", np.percentile(cw, 75))

25th percentile: 3.225
50th percentile: 3.45
75th percentile: 3.825

In [6]:
Q1 = np.percentile(cw, 25)
Q3 = np.percentile(cw, 75)
IQR = Q3 - Q1


lower_bound = Q1 - 1.5 * IQR
upper_bound = Q3 + 1.5 * IQR

print("IQR:", IQR)
print("Lower bound:", lower_bound)
print("Upper bound:", upper_bound)
print("Outlier Range:", lower_bound, "to", upper_bound)

IQR: 0.6000000000000001
Lower bound: 2.325
Upper bound: 4.7250000000000005
Outlier Range: 2.325 to 4.7250000000000005