In [3]:
import numpy as np
import pandas as pd

marks = [50, 60, 65, 70, 75, 80, 85, 90]
df = pd.DataFrame({'marks':marks})
df

   marks
0     50
1     60
2     65
3     70
4     75
5     80
6     85
7     90

In [5]:
mean_value = df['marks'].mean()


median_value = df['marks'].median()


mode_value = df['marks'].mode()

print("Mean:", mean_value)
print("median:", median_value)
print("mode:", mode_value)

Mean: 71.875
median: 72.5
mode: 0    50
1    60
2    65
3    70
4    75
5    80
6    85
7    90
Name: marks, dtype: int64

In [7]:
Temperatures = [29, 31, 33, 33, 32, 31, 30]
temp = pd.DataFrame({"temp": Temperatures})
temp

   temp
0    29
1    31
2    33
3    33
4    32
5    31
6    30

In [8]:
variance = np.var(temp)
std_deviation = np.std(temp)

print("variance:", variance)
print("standard deviation:", std_deviation)

variance: temp    1.918367
dtype: float64
standard deviation: temp    1.385051
dtype: float64

C:\Users\shoye\anaconda3\Lib\site-packages\numpy\_core\fromnumeric.py:4266: FutureWarning: The behavior of DataFrame.var with axis=None is deprecated, in a future version this will reduce over both axes and return a scalar. To retain the old behavior, pass axis=0 (or do not pass axis)
  return var(axis=axis, dtype=dtype, out=out, ddof=ddof, **kwargs)
C:\Users\shoye\anaconda3\Lib\site-packages\numpy\_core\fromnumeric.py:4062: FutureWarning: The behavior of DataFrame.std with axis=None is deprecated, in a future version this will reduce over both axes and return a scalar. To retain the old behavior, pass axis=0 (or do not pass axis)
  return std(axis=axis, dtype=dtype, out=out, ddof=ddof, **kwargs)