In [1]:
import numpy as np
import pandas as pd

marks = [50, 60, 65, 70, 75, 80, 85, 90]
df = pd.DataFrame({'marks':marks})
df

   marks
0     50
1     60
2     65
3     70
4     75
5     80
6     85
7     90

In [2]:
mean_value = df['marks'].mean()


median_value = df['marks'].median()


mode_value = df['marks'].mode()

print("Mean:", mean_value)
print("median:", median_value)
print("mode:", mode_value)

Mean: 71.875
median: 72.5
mode: 0    50
1    60
2    65
3    70
4    75
5    80
6    85
7    90
Name: marks, dtype: int64

In [3]:
Temperatures = [29, 31, 33, 33, 32, 31, 30]
temp = pd.DataFrame({"temp": Temperatures})
temp

   temp
0    29
1    31
2    33
3    33
4    32
5    31
6    30

variance = np.var(temp)
std_deviation = np.std(temp)

print("variance:", variance)
print("standard deviation:", std_deviation)

## Part B – Percentiles, IQR and Z-Score

In [4]:
cat_weights = [2.5, 3.0, 3.2, 3.3, 3.4, 3.5, 3.6, 3.9, 4.0, 4.5]

cw = pd.DataFrame({'cat_weights': cat_weights})
cw

   cat_weights
0          2.5
1          3.0
2          3.2
3          3.3
4          3.4
5          3.5
6          3.6
7          3.9
8          4.0
9          4.5

In [5]:
print("25th percentile:", np.percentile(cw, 25))
print("50th percentile:", np.percentile(cw, 50))
print("75th percentile:", np.percentile(cw, 75))

25th percentile: 3.225
50th percentile: 3.45
75th percentile: 3.825

In [6]:
Q1 = np.percentile(cw, 25)
Q3 = np.percentile(cw, 75)
IQR = Q3 - Q1


lower_bound = Q1 - 1.5 * IQR
upper_bound = Q3 + 1.5 * IQR

print("IQR:", IQR)
print("Lower bound:", lower_bound)
print("Upper bound:", upper_bound)
print("Outlier Range:", lower_bound, "to", upper_bound)

IQR: 0.6000000000000001
Lower bound: 2.325
Upper bound: 4.7250000000000005
Outlier Range: 2.325 to 4.7250000000000005

In [7]:
mean = cw['cat_weights'].mean()
std_dev = cw['cat_weights'].std()
z_scores = [(x - mean) / std_dev for x in cw['cat_weights']]
print('z_scores:', np.round(z_scores, 2))

z_scores: [-1.77 -0.88 -0.52 -0.34 -0.16  0.02  0.2   0.73  0.91  1.81]

In [ ]:
Module 2 – Probability Basics for ML
Part A – Basic Probability

In [8]:
total_people = 100
likes_pizza = 40
likes_burgers = 50
likes_both = 20

# P(A) - Probability of liking pizza
P_A = likes_pizza / total_people

# P(B) - Probability of liking burgers
P_B = likes_burgers / total_people

# P(A intersect B) - Probability of liking both
P_A_intersect_B = likes_both / total_people

# P(A | B) - Probability of liking pizza given liking burgers
# P(A | B) = P(A intersect B) / P(B)
if P_B != 0:
    P_A_given_B = P_A_intersect_B / P_B
else:
    P_A_given_B = 0 # or handle error appropriately if P_B is 0

print(f"P(A) (Probability of liking pizza): {P_A:.2f}")
print(f"P(B) (Probability of liking burgers): {P_B:.2f}")
print(f"P(A intersect B) (Probability of liking both): {P_A_intersect_B:.2f}")
print(f"P(A | B) (Probability of liking pizza given liking burgers): {P_A_given_B:.2f}")

P(A) (Probability of liking pizza): 0.40
P(B) (Probability of liking burgers): 0.50
P(A intersect B) (Probability of liking both): 0.20
P(A | B) (Probability of liking pizza given liking burgers): 0.40

In [ ]:
## Part B – Conditional Probability and Bayes

In [1]:
total_emails = 1000
spam_emails = 100
spam_with_free = 40
non_spam_with_free = 60

# Calculate individual probabilities
P_S = spam_emails / total_emails # P(Spam)
P_F_given_S = spam_with_free / spam_emails # P(Free | Spam)

# Total emails containing 'free'
total_with_free = spam_with_free + non_spam_with_free
P_F = total_with_free / total_emails # P(Free)

# Apply Bayes' Theorem: P(S | F) = P(F | S) * P(S) / P(F)
if P_F != 0:
    P_S_given_F = (P_F_given_S * P_S) / P_F
else:
    P_S_given_F = 0 # Handle division by zero if P(F) is 0

print(f"P(S) (Probability of an email being spam): {P_S:.2f}")
print(f"P(F | S) (Probability of containing 'free' given it is spam): {P_F_given_S:.2f}")
print(f"P(F) (Probability of an email containing 'free'): {P_F:.2f}")
print(f"P(S | F) (Probability of being spam given it contains 'free'): {P_S_given_F:.2f}")

P(S) (Probability of an email being spam): 0.10
P(F | S) (Probability of containing 'free' given it is spam): 0.40
P(F) (Probability of an email containing 'free'): 0.10
P(S | F) (Probability of being spam given it contains 'free'): 0.40