In [1]:
 import pandas as pd

data = [
    {"name": "Rahim",  "city": "Dhaka",      "department": "HR",         "salary": 45000},
    {"name": "Karim",  "city": "Chittagong", "department": "IT",         "salary": 75000},
    {"name": "Selina", "city": "Dhaka",      "department": "Finance",    "salary": 90000},
    {"name": "Jamal",  "city": "Rajshahi",   "department": "Marketing",  "salary": 55000},
    {"name": "Sana",   "city": "Khulna",     "department": "IT",         "salary": 82000},
    {"name": "Tuhin",  "city": "Dhaka",      "department": "Finance",    "salary": 65000},
]


df = pd.DataFrame(data)
df

     name        city department  salary
0   Rahim       Dhaka         HR   45000
1   Karim  Chittagong         IT   75000
2  Selina       Dhaka    Finance   90000
3   Jamal    Rajshahi  Marketing   55000
4    Sana      Khulna         IT   82000
5   Tuhin       Dhaka    Finance   65000